<section class="contact-us">
  <div class="contact-container container">
    <h3>Contact Us</h3>
      <div class="contact-row row">
        <div class="col-lg-3">
          <a href="https://twitter.com/"><i class="fab fa-twitter fa-2x contact-icon"></i></a>
          <p>@fineapplestudios</p>
        </div>
        <div class="col-lg-2">
          <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x contact-icon"></i></a>
          <p>Fineapple Studios</p>
        </div>
        <div class="col-lg-2">
          <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x contact-icon"></i></a>
          <p>@fineapplestudios</p>
        </div>
        <div class="col-lg-2">
          <a href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-2x contact-icon"></i></a>
          <p>Fineapple Studios</p>
        </div>
        <div class="col-lg-2">
          <a href="https://www.tiktok.com/en"><i class="fab fa-tiktok fa-2x contact-icon"></i></a>
          <p>fineapplestudios</p>
        </div>
      </div>
  </div>
</section>

<footer id="footer">

  <p>© Copyright 2021 Fineapple Studios</p>

</footer>

  </body>
</html>
