body {
  background-color: #171717;
}


.title {
  font-family: 'Lobster', cursive;
  font-size: 2.7rem;
  padding-left: 0.5em;
}


.container-fluid {
  padding: 0 2%
}

.navbar {
  background-color: #171717;
  line-height: 1.4;
}

.nav-item {
  padding: 0 0.7rem;
  font-weight: bold;
  font-family: "Nunito", "sans-serif";
  font-size: 1.1rem;
}

/* Try to do an underline on hover and fix hover color. LATER*/
.title:hover, .nav-link:hover{
  color: #ffffff;
}

.title, .nav-link {
  color: #ffffff;
}

.switch-pg-link, .disclaimer {
  color: #ffd369;
}

.switch-pg-link:hover {
  color: #ffd369;
}


.d-block {
  height: 50rem;
  margin: 0 auto;
}


.about {
  text-align: center;
  color: #ffffff;
  font-family: "Nunito", "sans-serif";
  padding: 2rem 0 5rem;
}

.about-heading {
  font-size: 5.5rem;
}


#who-we-are {
  background-color: #ffffff;
}

.members {
  color: #000000; /*Looks like this is still black even if not assigned. Like it's responsive to background color...*/
  text-align: center;
  font-family: "Nunito", "sans-serif";
  padding: 2.5rem 0 10rem;
}


.members-heading {
  font-size: 4.2rem;
  font-style: bold;
}

.members-subheading {
  padding-top: 4%;
  color: #ffd369;
}

.member-row {
  padding: 2% 0;
}

.member-image {
  width: 12.5rem;
  padding-bottom: 1.5rem;
}

.member-image:hover {
  opacity: 0.55;
}

.bio-link {
  text-decoration: none;
  color: inherit;
}

.social-list {
  list-style-type: none;
  line-height: 2.2rem;
  padding: 20px 0 0;
}

.profile-contact-icon {
  float: left;
  padding-right: 10px;
  color: #000000;
}


.contact-container {
  color: #ffffff;
  text-align: center;
  padding-top: 3rem;
}

.contact-row {
  padding-top: 2.2rem;
  padding-bottom: 4rem;
}

.contact-icon {
  padding-bottom: 1rem;
  color: #ffffff;
}

.contact-icon:hover {
  opacity: 0.5;
}

#footer {
  color: #ffffff;
  text-align: center;
  font-weight: lighter;
  font-size: 12px;
}


/*** Bio Pages ***/

.bio {
  background-color: #ffffff;
  padding-bottom: 30px;
}

.bio-content {
  width: 1300px;
  margin: 80px auto;
  text-align: left;
}

.bio-image {
  width: 35.5rem;
  margin: 3em 0 auto 1em;
  /*float: left;*/
}

.title-name {
  padding-top: 2rem;
  font-size: 4em;
}

.bio-roles {
  font-weight: light;
  color: #ffd369;
}

.bio-description {
  margin-top: 3.25em;
}


/*** Merch Page ***/
.merch {
  background-color: #ffffff;
  height: 50em;
}
